<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Provinsi & Kabupaten</title>
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
  </head>
  <body>
    {{#if messages.success}}
      <div class="alert alert-success" role="alert">{{messages.success}}</div>
    {{/if}}
    <div class="container mt-4">
      <div class="d-flex justify-content-between align-items-center">
        <!-- Title -->
        <h1>Provinsi & Kabupaten</h1>

        <!-- Profile Button -->
        {{#if user}}
          <a class="btn rounded-circle text-success" href="/logout">
            <i class="fa-regular fa-user fs-3"></i>
          </a>
        {{else}}
          <a class="btn rounded-circle" href="/login">
            <i class="fa-regular fa-user fs-3"></i>
          </a>
        {{/if}}
      </div>

      <div class="d-flex justify-content-between align-items-center mt-3">
        <!-- Filter Button -->
        <div class="dropdown">
          <button
            class="btn btn-primary dropdown-toggle filter-btn"
            type="button"
            id="filterDropdown"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Filter
          </button>
          <ul class="dropdown-menu" aria-labelledby="filterDropdown">
            <li><a class="dropdown-item" href="">Provinsi</a></li>
            <li><a class="dropdown-item" href="">Provinsi dan Kabupaten</a></li>
            <li><a class="dropdown-item" href="">Jawa</a></li>
            <li><a class="dropdown-item" href="">Sulawesi</a></li>
            <li><a class="dropdown-item" href="">Sumatera</a></li>
            <li><a class="dropdown-item" href="">Kalimantan</a></li>
            <li><a class="dropdown-item" href="">Papua</a></li>
          </ul>
        </div>

        <!-- Add Buttons -->
        {{#if user}}
          <div>
            <a href="/add-provinsi" class="btn btn-success add-btn">Add Provinsi</a>
            <a href="/add-kabupaten" class="btn btn-success add-btn">Add
              Kabupaten</a>
          </div>
        {{/if}}
      </div>
    </div>

    <!-- Main "Daging" -->
    <div class="container mt-4">
      <div class="row">
        <!-- Card Loop -->

        <div class="col-md-3 mb-3">
          {{#each provinsi}}
            <div class="card">
              <a href="/detail-provinsi" class="text-decoration-none text-dark">
                <img
                  src="{{photo}}"
                  class="card-img-top"
                  alt="Logo"
                  height="250px"
                  width="150px"
                />
                <div class="card-body">
                  <h3 class="card-title">{{nama}}</h3>
                  <p class="card-text">{{diresmikan}}</p>
                </div>
              </a>
              <div class="card-footer d-flex justify-content-between">
                <button class="btn btn-warning">Edit</button>
                <button class="btn btn-danger">Delete</button>
              </div>
            </div>
          {{/each}}
        </div>

      </div>
    </div>

    <!-- Bootstrap Script -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    ></script>
  </body>
</html>